#all-pokemon-options {
    background-color: #fff;
    box-shadow: 0 0.1em 0.3em #00000033;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}
#generation-option {
    grid-column: 2/3;
}
#pokemon-loaded-option{
    grid-column: 3/4;
}
#all-pokemon-options label select {
    margin-left: 1em;
}