:root {
    --font-colour: #000;
    --font-size-large: 1.5em;
    --font-size-normal: 1.25em;
    --font-size-small: 1em;
    --background-color: #eee;
    --blue: #0070f3;
    --outline-colour: #0003;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}
